#user-chat-box{
    position: fixed;
    bottom: 0px;
    left: 10px;
    border: 1px dashed gray;
    height: 350px;
    width: 300px;
    padding: 5px;
    padding-bottom: 40px;
    box-shadow: 1px 1px 1px 1px black;
    z-index: 10;
    overflow: scroll;
    overflow-x: hidden;

    ::-webkit-scrollbar {
        display: none;
    }

    #chat-nav{
        position: inherit;
        height:30px;
        width: 300px;
        background-color: dodgerblue;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;

        div{
            vertical-align: middle;
        }

    }

    #chat-messages-list{
        list-style: none;
        padding: 10px;
        height: 70%;
        background-color: #fff;
        overflow: auto;

        .other-message{
            text-align: left;
            padding: 5px;
            span{
                display: inline-block;
                padding: 5px;
                width:auto;
                background-color: #ffa0a0;
                color: white;
                border-radius: 20%;

            }
        }

        .self-message{
            text-align: right;
            padding: 5px;
            span{
                display: inline-block;
                width:auto;
                padding: 5px;
                background-color: dodgerblue;
                color: white;
                border-radius: 20%;
            }
        }
    }

    
    #chat-message-input-container{
        height: 24%;
        width: 100%;
        display: flex;
        flex-direction: row;

        #chat-message-input{
            height: 50%;
            width: 70%;
            border-radius: 2%;
        }

        #send-message{
            height: 50%;
            width: 30%;
            font-size: 25px;
            font-family: 'Courier New', Courier, monospace;
            color:#fff;
            border: none;
            background: #58d258;
        }
    }
}