footer{
    background-color: dodgerblue;
    position:fixed;
    color:white;
    height:3.5vw;
    left:0;
    bottom:0;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    a{
        color:white;
        text-decoration: none;
        align-items: center;
        margin-bottom: 0;
    }

    #left_f{
        width: 75%;
        display:flex;
        justify-content: space-between;
        margin-left: 0;
        font-weight: bold;
        font-size: 0.9vw;
    }
    #footer_details{
        width: 50%;
        display:flex;
        justify-content: space-between;
        font-size: 1.3vw;
    }
}