header
{
    background-color: dodgerblue;
    position: fixed;
    color: white;
    height: 2.5vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a
    {
        color: white;
        text-decoration: none;
    }
    #left
    {
        width:20%;
        margin-left: 0.5vw;
        font-weight: bold;
        font-size: 1.9vw;
    }
    #right
    {
        width:80%;
        display: flex;
        justify-content: space-around;
        margin-right: 0.5vw;
        font-size: 1.4vw;
    }
    
}